@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

 :root {
  --clr-main: #073B4C;
  --clr-main-light: #0c556d;
  --clr-main-dark: #073442;
  --clr-main-darker: #06303d;
  --clr-white: #e2e2e2;
  --clr-white-light: #e9e9e9;
} 

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}

#root {
  display: flex;
  justify-content: center;
  background-color: var(--clr-main-dark);
}

.App {
  width: 100%;
  height: 100vh;
  max-width: 1280px;
  display: flex;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
}

.highlight-bg {
  background-color: var(--clr-sub);
}

.sidebar {
  width: 30%;
  height: 100%;
  min-height: 400px;
  background-color: var(--clr-main);
  color: var(--clr-white); 
  position: relative;
  user-select: none;  
}

.sidebar a {
  text-decoration: none;
  color: var(--clr-white);
}

.sidebar .logo {
  font-size: 2.5rem;
  padding: 3rem 0;
  text-align: center;
}

.sidemenu {  
  list-style: none;
  width: 100%;
  margin: 2rem 0;
  text-align: center;
}

.sidebar .menu-item {
  cursor: pointer;
  width: 100%;
  font-size: 1.5rem; 
  padding: 1rem;
  transition: background-color 100ms linear; 
}

.sidebar .menu-item.selected {
  background-color: var(--clr-main-dark);
}

.menu-item:hover, .menu-item:focus {
  background-color: var(--clr-main-dark);
}

.sidebar .sideBottom {
  position: absolute;
  width: 100%;
  bottom: 0; 
  text-align: center;  
  font-size: 1.2rem;
}
.sidebar .sideBottom .info {
  margin: 0.5rem;
}

.sidebar .sideBottom .info span{
  margin: 0 0.5rem;
  text-decoration: underline;
  cursor: pointer;
}

main {
  width: 70%;
  height: 100%; 
  background-color: var(--clr-white);
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 2rem;
  box-shadow: -1px 2px 15px 0.5px rgba(0,0,0, 0.1);
  background-color: var(--clr-white-light);
}

.posts {
  height: 100%;
}

.post {
  margin: 2rem;
}

.post .title {
  font-size: 2rem;
}

.post .info {
  font-size: .85rem;
  margin: .2rem 0;
}

.post .content {  
  margin: .8rem 0;
  line-height: 1.6rem;
  text-align: justify;
}

.post .continue {
  text-decoration: underline;
  cursor: pointer;
}
.login {  
  text-align: center;
  width: 60%;
  background-color: var(--clr-white-light);
}

.login h2 {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.login form {
  display: flex;
  flex-direction: column;  
}

.login form > label {
  margin: .8rem;  
}

.login form > input[type="text"],input[type="password"] {
  height: 2rem;
  text-align: center;
  border: none;
}

.login form > input[type="submit"] {
  margin-top: 1.5rem;
}

.btn {
  cursor: pointer;
  font-size: 1.5rem;
  width: 100%;
  padding: 1rem;
  border: none;
  color: var(--clr-white);
  background-color: var(--clr-main-light);
  transition: background-color 100ms linear;
}

.btn:hover { 
  background-color: var(--clr-main-dark);
}

/* Dashboard */

.dashboard {
  height: 100%;
  width: 100%;
}

.dashboard-home {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.dashboard-home > * {
  margin: 2rem;
}

.dashboard-home .summary p {
  font-size: 1.2rem;
}

.dashboard-home h2 {
  font-size: 2rem;
  margin: 2rem 0;
}

.dashboard-home h3 {
  font-size: 1.5rem; 
  margin: 2rem 0rem 0 1.5rem 0;
}

.dashboard-home .recent-action {
  text-align: end;
}

.dashboard .posts.card {
  padding: 0.1rem 0;
}

.dashboard .post {
  margin: 2rem 2rem;
  padding: 2rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  box-shadow:  0px 5px 15px 0.1px rgba(0,0,0, 0.1);
}


